.App {
  align-items: center;
  text-align: center;
  height: 100vh;
  overflow-y: auto;
  background-image: url(./images/background.jpg);
  background-size: cover;
}

.flex-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1%;
}

.child1 {
  display: flex;
  width: 20%;
  flex-direction: column;
  overflow: hidden;
}

.middle {
  display: flex;
  width: 56%;
  height: 200%;
  flex-direction: column;
  text-align: left;
}

.side {
  display: flex;
  width: 20%;
  flex-direction: column;
  text-align: left;
}

#midspacer {
  display: flex;
  width: 2%;
  flex-direction: column;
}

.analytics {
  text-justify: left;
}

#title {
  font-size: 1em;
}

#iconImg {
  width: 75px;  
  height: 75px;
  border-radius: 50%;
}

#champImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.info {
  margin: 0 0 0 0;
  padding-left: 5%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5%;
}

#playername {
  font-size: 100%;
}

#playerrank {
  font-size: 80%;
  color: gray;
}

.flex-playerinfo {
  display: flex;
  justify-content: left;
  margin-bottom: 5%;
}


.font-face-league {
  font-family: "FrizQuadrataRegular";
}

.title {
  font-size: 2em;
}

* {
  margin-top: 0;
}

.rounded-corner {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

#sideChamp-container {
  margin-bottom: 5%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#sidechampimg {
   /* Make the image fill the container height */
  width: 40%;
  object-fit: cover; /* Maintain the image's aspect ratio */
  border-radius: 50%;
}

#place {
  position: absolute;
  top: 5%;
  right: 5%;
}
#infobox {
  justify-content: left;
}

.rounded-corner-green {
  background-color: rgb(163, 236, 156);
  border-radius: 10px;
  padding: 20px;
  position: relative;
  display: flex;
}

.rounded-corner-blue {
  background-color: rgb(125, 115, 255);
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  float: left;
  border: 2px solid rgb(125, 115, 255);
}

.rounded-corner-red {
  background-color: rgb(253, 106, 106);
  border-radius: 10px;
  padding: 20px;  
  width: 50%;
  float: left;
  border: 2px solid rgb(253, 106, 106);
  text-align: right;
}

