.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchbox-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
}

.searchbox-spacer {
  display: flex;
  justify-content: center;
  width: 5%;
  flex-direction: row;
}

.flex-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.child1 {
  display: flex;
  justify-content: center;
  width: 20%;
  flex-direction: column;
}

.child2 {
  display: flex;
  width: 60%;
  flex-direction: column;
  text-align: left;
}

.spacer {
  display: flex;
  width: 9%;
  flex-direction: column;
  background-color: #61dafb;
}

#midspacer {
  display: flex;
  width: 2%;
  flex-direction: column;
  background-color: #61dafb;
}

.analytics {
  text-justify: left;
}

#title {
  font-size: 1em;
}

#iconImg {
  width: 25%;
  border-radius: 50%;
}

#playername {
  vertical-align: middle;
  font-size: 100%;
}

.flex-playerinfo {
  display: flex;
  justify-content: left;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}