.App {
  align-items: center;
  text-align: center;
  height: 100vh;
  overflow-y: auto;
  background-image: url(./images/background.jpg);
  background-size: cover;
}

.userInput {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center; 
}

.labelGames {
  margin-right: 10px;
  font-size: 14px;
  color: #333;
  margin-left: 20px;
  margin-top: 10px; 
}

.search {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 200px;
}

.button {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #a3846a; 
  color: #fff;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #574d38;
}

.number-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 80px;
}

.flex-container {
  display: flex;
  width: 100%;
  margin-top: 1%;
}

.child1 {
  display: flex;
  width: 20%;
  flex-direction: column;
  overflow: hidden;
}

.middle {
  display: flex;
  width: 100%;
}

.mid {
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
  overflow: auto;
  align-items: center;
  justify-content: center;
  scrollbar-width: none;
}

.content::-webkit-scrollbar {
  width: 0;
}

.scrollable-box {
  display: flex;
  width: 25%;
  height: 100vh;
  text-align: left;
  overflow: auto;
  align-items: center;
  justify-content: center;
  background-color: #e7d5bcbe; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  padding: 10px; 
  font-family: 'Arial', sans-serif; 
  color: #333; 
}

.scrollable-box ::-webkit-scrollbar {
  background: transparent;
}

.scrollable-box :hover::after {
  opacity: 0;
}

#midspacer {
  display: flex;
  width: 2%;
  flex-direction: column;
}

.analytics {
  text-justify: left;
}

.title {
  font-size: 1.5em;
  color: #1b1512;
  font-weight: bold; 
  text-align: center; 
  margin-top: 20px;
}

#iconImg {
  width: 75px;  
  height: 75px;
  border-radius: 50%;
}

#champImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.info {
  margin: 0 0 0 0;
  padding-left: 5%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5%;
}

#playername {
  font-size: 100%;
}

#playerrank {
  font-size: 80%;
  color: gray;
}

.flex-playerinfo {
  display: flex;
  justify-content: left;
  margin-bottom: 5%;
}


.font-face-league {
  font-family: "FrizQuadrataRegular";
}

.title {
  font-size: 2em;
}

* {
  margin-top: 0;
}

.rounded-corner {
  background-color: rgba(177, 172, 168, 0.9);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

#sideChamp-container {
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: rgba(177, 172, 168, 0.9);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

#sidechampimg {
   /* Make the image fill the container height */
  width: 40%;
  object-fit: cover; /* Maintain the image's aspect ratio */
  border-radius: 50%;
}

#place {
  position: absolute;
  top: 5%;
  right: 5%;
}
#infobox {
  justify-content: left;
  padding-top: 5%;
}

.rounded-corner-green {
  background-color: rgb(179, 222, 168);
  border-radius: 10px;
  padding: 20px;
  position: relative;
  display: flex;
}

.rounded-corner-blue {
  background-color: rgb(163, 185, 255);
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  margin-right: 10px;
  float: left;
  border: 2px solid rgb(125, 115, 255);
}

.rounded-corner-red {
  background-color: rgb(255, 170, 170);
  border-radius: 10px;
  padding: 20px;  
  width: 50%;
  float: left;
  border: 2px solid rgb(253, 106, 106);
  text-align: right;
}

.rounded-corner:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

